<!DOCTYPE html>
<html>
  <head>
    <title>GE</title>
  </head>
  <body>
    <h3>GE</h3>
    <div id="error_output"></div>
    <div id="map"></div>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_api_key %>&callback=initMap">
      </script>
    <br>
  </body>
</html>
